@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-slope {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  .clip-slope-reverse {
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .clip-triangle-right {
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }
}
